:root {
  overscroll-behavior: none; /* prevents things like "rubber band" scrolling on iOS. */
}

body {
   font-family: Arial, sans-serif;
   /* margin: 20px;
   padding: 20px;
   height: 100vh; */
   background-color: red;
   /* background-color: #f9f9f9; */
}
